{% extends "admin/base.html" %}
{% load static %}

{% block title %}{{ title }} | ProjectFlow admin{% endblock %}

{% block extrastyle %}
{{ block.super }}
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=DM+Mono:wght@400;500&family=DM+Sans:wght@400;500;600;700&family=Space+Grotesk:wght@400;500;600;700&display=swap" rel="stylesheet">
<link rel="stylesheet" href="{% static 'admin/admin.css' %}">
{% endblock %}

{% block branding %}
<a href="{% url 'admin:index' %}" class="projectflow-admin-brand">
    <span class="projectflow-admin-mark">P</span>
    <span>Project<span>Flow</span> <small>ADMIN</small></span>
</a>
{% endblock %}
